body {
    background-image: url(1.jpg);
    color: white;
}
table {
    border: 20px dotted aqua;
}
th {
    border: 5px solid orange;
}
td {
    border: 5px solid orange;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; }
p {
    color:white;
    font-size: large;
}